<div>
    <h2>
        <span jhiTranslate="weekendAppApp.activity.home.title">Activities</span>
        <button class="btn btn-primary float-right jh-create-entity create-activity" [routerLink]="['/', { outlets: { popup: ['activity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="weekendAppApp.activity.home.createLabel">
            Create new Activity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="activities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="weekendAppApp.activity.type">Type</span></th>
            <th><span jhiTranslate="weekendAppApp.activity.city">City</span></th>
            <th><span jhiTranslate="weekendAppApp.activity.level">Level</span></th>
            <th><span jhiTranslate="weekendAppApp.activity.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activity of activities ;trackBy: trackId">
                <td><a [routerLink]="['../activity', activity.id ]">{{activity.id}}</a></td>
                <td jhiTranslate="{{'weekendAppApp.Type.' + activity.type}}">{{activity.type}}</td>
                <td jhiTranslate="{{'weekendAppApp.City.' + activity.city}}">{{activity.city}}</td>
                <td jhiTranslate="{{'weekendAppApp.Level.' + activity.level}}">{{activity.level}}</td>
                <td>
                    <span *ngFor="let user of activity.users; let last = last">
                            {{user.login}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../activity', activity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activity/'+ activity.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activity/'+ activity.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
